# Admin Authentication
ADMIN_PASSWORD=

# GitHub API Persistence
GITHUB_TOKEN=
GITHUB_REPO=
GITHUB_BRANCH=

# Cloudinary Direct Unsigned Uploads
VITE_CLOUDINARY_CLOUD_NAME=
VITE_CLOUDINARY_UPLOAD_PRESET=
